@import '../../styles/constants.styl'

.subscribe
  display: block
  max-width: 500px
  width: 100%
  margin: 0 auto
  > *
    margin-bottom: 10px
  .recaptcha
    text-align: center
    > div > div > div
      width: inherit !important
      overflow: hidden;

