@import '../../styles/constants.styl'

.navigation
  max-height: 80px
  .backdrop
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 1
    background: rgba(color-brown--light, 0.2)

  .top
    background: color-background
    line-height: 50px

  .bottom
    background: color-menu
    box-shadow: 0 0 2px 0 rgba(245, 166, 32, 0.3)
    line-height: 40px

  .info
    background: color-background
    box-shadow: 0 0 2px 0 rgba(245, 166, 32, 0.3)
    line-height: 30px
    text-align: center
    color: color-orange
    white-space: nowrap
    a
      text-decoration: none
      color: color-orange
    &:hover
      a
        color: darken(color-orange, 10)

  .home
    display: inline-block
    cursor: pointer
    .brand
      display: inline-block
      vertical-align: middle
      line-height: 0
      height: 32px
      width: 32px

  .sandwich
    position: absolute
    display: none
    width: 24px
    top: 50%
    right: 20px
    transform: translateY(-50%)
    fill: color-orange
    cursor: pointer
    user-select: none
  .sandwich:hover
    fill: darken(color-orange, 10)
  .close
    position: absolute
    top: 25px
    right: 20px
    transform: translateY(-50%)
    font-size: 28px
    fill: color-gray--lighter
    cursor: pointer
    user-select: none
    &:hover
      fill: color-gray--light

  .menuBottom
    text-align: center
    color: color-gray--light
    > .item
      display: inline-block
      padding: 0 20px
      cursor: pointer
      text-decoration: none
      color: color-font--lighten
      &:hover
        color: color-orange
      &.active
        color: color-orange
        font-weight: bold

  .menuInfo .menuInfoMobile
    display: none

  .menuRight
    display: none
    position: fixed
    padding-top: 50px
    transform: translate(RIGHT_MENU_WIDTH)
    transition: transform .3s ease-in-out
    user-select: none
    width: RIGHT_MENU_WIDTH
    height: 100%
    top: 0
    right: 0
    z-index: MAX_INT
    background: color-background
    box-shadow: -6px 0 6px -6px #e7eaf3
    .item
      display: block
      padding: 15px 20px
      border-top: 1px solid color-border
      text-decoration: none
      color: color-font--light
      &.active
        color: color-orange
        font-weight: bold
      &:hover
        color: color-orange

  .location
  .phone
    display: inline-block
    padding-left: 20px
  .location
    .image
      width: 16px
      height: 16px
      padding-right: 2px
      vertical-align: middle
      fill: color-orange
    a
      text-decoration: none
      color: color-font--lighten
      &:hover
        color: color-font--light
  .social
    display: inline-block
    vertical-align: middle
    padding: 0 0 0 20px
    line-height: 0
    .item
      display: inline-block
      height: 24px
      padding-right: 10px
    .image
      fill: color-orange
      &.vk:hover
        fill: #45668e
      &.insta:hover
        fill: #c13584
      &.fb:hover
        fill: #3b5998
  .phone
    position: absolute
    right: 20px
    a
      color: color-font--lighten
      text-decoration: none
      &:hover
        color: color-font--light
    .whatsapp
    .viber
    .telegram
      padding-left: 10px
      font-size: 0
      svg
        width: 16px
        height: 16px
        fill: color-orange
        transform: translateY(1px)
    .whatsapp:hover svg
      fill: color-whatsapp
    .viber:hover svg
      fill: color-viber
    .telegram
      top: 3px
      padding-left: 8px
      svg
        width: 20px
        height: 20px
        transform: translate(-2px, 3px)
      &:hover svg
        fill: color-telegram
    .image
      width: 16px
      transform: translateY(6px);
      fill-opacity: .85
      fill: color-orange

      //&--viber
      //  top: 0
      //  left: 10px
      //&--whatsapp
      //  top: 0
      //  left: 20px
      //&--telegram
      //  top: 0
      //  left: 30px
      //&--whatsapp:hover
      //  fill: color-whatsapp
      //&--viber:hover
      //  fill: color-viber
      //&--telegram:hover
      //  fill: color-telegram

  @media only screen and (max-width: 1000px)
    .location
      display: none
    .social
      padding-left: 45px

  @media only screen and (max-width: 780px)
    max-height: 50px
    .phone
      right: 60px
    .top
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16)
    .menuRight.opened
      display: block
      right: RIGHT_MENU_WIDTH
    .menuBottom
    .menuInfo .menuInfoDesktop
      display: none

    .sandwich
      display: block
    .menuInfo .menuInfoMobile
      display: block
    .info
      background: color-menu



  @media only screen and (max-width: 500px)
    .social
      display: none
    .phone
      padding-left: 15px
      .image
        display: none

      .whatsapp,
      .viber
      .telegram
        padding-left: 5px
