@import '../../static/styles/constants.scss';

#footer {
  background: $color-brown;
  color: $color-brown--light;
  .footer {
    padding: 20px;
  }
  .logo {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
    img {
      width: 100%;
    }
  }
  .social {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0 30px;
    vertical-align: top;
    &__item {
      display: inline-block;
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
    &__image {
      fill: $color-orange;
      &--vk:hover {
        fill: #45668e;
      }
      &--insta:hover {
        fill: #c13584;
      }
      &--fb:hover {
        fill: #3b5998;
      }
      &--file:hover {
        fill: #34a853;
      }
    }
  }
  .contacts {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 350px;
    float: right;
    &__item {
      position: relative;
      padding-left: 30px;
      line-height: 24px;
      a {
        color: $color-brown--light;
        text-decoration: none;
      }
    }
    &__link {
      &--whatsapp {
        padding-left: 10px;
        svg {
          width: 16px;
          height: 16px;
          fill: $color-orange;
        }
        &:hover svg {
          fill: #25d366;
        }
      }
      &--viber {
        padding-left: 10px;
        svg {
          width: 16px;
          height: 16px;
          fill: $color-orange;
        }
        &:hover svg {
          fill: #8f5db7;
        }
      }
    }
    &__image {
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      fill-opacity: .85;
      &--file,
      &--location,
      &--phone,
      &--email {
        fill: $color-orange;
      }
      &--whatsapp {
        top: 0;
        left: 20px;
      }
      &--viber {
        top: 0;
        left: 10px;
      }

      &--file:hover {
        fill: #34a853;
      }
      &--location:hover {
        fill: $color-red;
      }
      &--phone:hover {
        fill: #4285f4;
      }
      &--email:hover {
        fill: #dd4b39;
      }
      &--whatsapp:hover {
        fill: #25d366;
      }
      &--viber:hover {
        fill: #8f5db7;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .logo {
      display: block;
      margin: 0 auto;
    }
    .social {
      display: block;
      text-align: center;
      padding: 20px 0 0 0;
    }
    .contacts {
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      float: none;
      &__item {
        padding-left: 25px;
      }
    }
  }
}
