@import '../../static/styles/constants.styl'

main
  .price
    .card
      margin: 10px 0
      padding: 20px
      box-sizing: border-box
      box-shadow: box-shadow
      border-radius: 6px
      cursor: pointer
      &:hover
        box-shadow: box-shadow--hover

      .amount
        display: inline-block
        font-size: 22px
        font-weight: 600
        color: color-orange

      .hint
        font-size: 14px
        color: color-font--light

    .info
      margin: 20px 0
      padding: 20px
      background: rgba(color-gray--lightest, .5)
      box-sizing: border-box
      box-shadow: box-shadow
      border-radius: 6px
      font-size: 17px
      a
        text-decoration: none
        color: color-orange
        opacity: .8
        &:hover
          opacity: 1

        &:visited
          color: color-brown--light






