@import '../../styles/constants.styl'

.unlimited
  .info
  .form
    display: inline-block
    vertical-align: top
    margin: 0 auto

  .info
    width: 60%
  .form
    width: 40%
    > *
      margin-bottom: 10px

  .paragraph
    position: relative
    padding: 5px 30px
    &:before
      content: ''
      position:absolute
      top: 10px
      left: 10px
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: orange


@media only screen and (max-width: 780px)
  .unlimited
    .info
    .form
      display: block
      width: 100%
      max-width: 500px
