@import './constants.styl'

.item
  margin: 10px 0
  padding: 20px
  text-align: center
  box-sizing: border-box
  box-shadow: box-shadow
  border-radius: 6px
  cursor: pointer
  &:hover
    box-shadow: box-shadow--hover

.name
  font-size: 28px
  padding-bottom: 10px
  color: color-orange
  text-align: center

.avatar
  text-align: center
  > img
    width: 100%
    max-width: 200px
    border-radius: 50%
    box-shadow: box-shadow
